@model QL_CTDT.Data.Models.Entities.CTDT_KKT

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>CTDT_KKT</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenCTDT_KKT)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenCTDT_KKT)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KhoiKienThuc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KhoiKienThuc.MaKKT)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ChuongTrinhDaoTao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ChuongTrinhDaoTao.MaCTDT)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.MaCTDT_KKT">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
