@model QL_CTDT.Data.Models.ViewModels.ChiTietCTDT_VM

<!-- Thêm container để giữ nội dung trung tâm và thêm margin -->
<div class="container">
    <h1 class="text-primary">@Model.TenCTDT</h1>
    <p>Khóa học: <span class="text-info">@Model.TenKhoaHoc</span></p>
    <p>Ngành: <span class="text-info">@Model.TenNganh</span></p>

    @foreach (var ctdt_kkt in Model.CTDT_KKT_VM)
    {
        <div class="card mb-3">
            <div class="card-header bg-secondary text-light">
                <h2>@ctdt_kkt.TenKKT</h2>
            </div>
            <div class="card-body">
                <p class="text-muted">Tổng số học phần: @ctdt_kkt.TongSoHocPhan</p>

                <ul class="list-group">
                    @foreach (var hocPhan in ctdt_kkt.HocPhans)
                    {
                        <li class="list-group-item">
                            <strong>@hocPhan.MaHocPhan - @hocPhan.Ten</strong>
                            <p class="mb-0">Mô tả: @hocPhan.MoTa</p>
                            <p class="mb-0">Số tín chỉ: @hocPhan.SoTinChi</p>
                            <p class="mb-0">Mã khoa: @hocPhan.MaKhoa</p>
                        </li>
                    }
                </ul>
            </div>
        </div>
    }

    <div>
        <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model?.MaCTDT">Edit</a>
        <a class="btn btn-secondary" asp-action="Index">Back to List</a>
    </div>
</div>