@model QL_CTDT.Data.Models.Entities.ChuongTrinhDaoTao

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ChuongTrinhDaoTao</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ten)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ten)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoNamDaoTao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoNamDaoTao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Khoa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Khoa.MaKhoa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KhoaHoc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KhoaHoc.MaKhoaHoc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nganh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nganh.MaNganh)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.MaCTDT">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
