@model IEnumerable<QL_CTDT.Data.Models.ViewModels.CTDT_VM>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TenCTDT)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SoNamDaoTao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TenKhoa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TenKhoaHoc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TenNganh)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.TenCTDT)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SoNamDaoTao)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TenKhoa)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TenKhoaHoc)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TenNganh)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.MaCTDT">Edit</a> |
                        <a asp-action="Details" asp-controller="ChuongTrinhDaoTaos" asp-route-id="@item.MaCTDT">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.MaCTDT">Delete</a>
                    </td>
                </tr>
        }
    </tbody>
</table>
