@model QuanLyCTDT.Models.HocPhan

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>HocPhan</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ten_HocPhan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ten_HocPhan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MoTa_HocPhan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MoTa_HocPhan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoTinChi_HocPhan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoTinChi_HocPhan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Khoa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Khoa.TenKhoa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KhoiKienThuc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KhoiKienThuc.Id_KhoiKT)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Ma_HocPhan">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
