@model QL_CTDT.Data.Models.ViewModels.HocPhan_VM

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>HocPhan</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ten)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ten)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MoTa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MoTa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoTinChi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoTinChi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenKhoa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenKhoa)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.MaHocPhan">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
