@model IEnumerable<QuanLyCTDT.Models.Khoa>

@{
    ViewData["Title"] = "Index";
}

<h1>Danh Sách Các Khoa</h1>


<!-- DataTales -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <div class="row">
            <div class="col-md-6 col-xs-12">
                <a class="btn btn-success" asp-action="Create">Create New</a>
            </div>
            <div class="col-md-6 col-xs-12">
                <form asp-action="Index" method="get">
                    <div class="row">
                        <div class="col-md-9">
                            <input type="text" value="@ViewBag.Keyword" name="keyword" class="form-control" />
                            <input hidden value="@ViewBag.CategoryID" type="text" name="categoryID" />
                        </div>
                        <div class="cold-md-3">
                            <button type="submit" class="btn btn-primary">Search</button>
                            <button type="button" onclick="window.location.href='/Product/Index'" class="btn btn-dark">Reset</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th class="text-center align-middle">
                            ID
                        </th>
                        <th class="text-center align-middle">
                            Tên Khoa
                        </th>
                        <th class="text-center align-middle">
                            Mô tả
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td class="text-center align-middle">
                                @Html.DisplayFor(modelItem => item.KhoaID)
                            </td>
                            <td class="text-center align-middle">
                                @Html.DisplayFor(modelItem => item.TenKhoa)
                            </td>
                            <td class="text-center align-middle">
                                @Html.DisplayFor(modelItem => item.MoTa)
                            </td>
                            
                            <td class="text-center align-middle">
                                <a asp-action="Details" asp-route-id="@item.KhoaID" class="btn btn-info btn-icon-split btn-block">
                                    @*<span class="icon text-white-50">
                                <i class="fas fa-info-circle"></i>
                                </span>*@
                                    <span class="text">Details</span>
                                </a>
                                <br>
                                <a asp-action="Edit" asp-route-id="@item.KhoaID" class="btn btn-warning btn-icon-split mt-2 btn-block">
                                    @*<span class="icon text-white-50">
                                <i class="fas fa-exclamation-triangle"></i>
                                </span>*@
                                    <span class="text">Edit</span>
                                </a>
                                <br>

                                <a asp-action="Delete" asp-route-id="@item.KhoaID" class="btn btn-danger btn-icon-split mt-2 btn-block">
                                    @*<span class="icon text-white-50">
                                <i class="fas fa-trash"></i>
                                </span>*@
                                    <span class="text">Delete</span>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
@*<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TenKhoa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MoTa)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TenKhoa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MoTa)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.KhoaID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.KhoaID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.KhoaID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>*@
